@model Photo

<div class="show-pizza-wrapper h-auto">
    <div class="container pizza-card-container">
        <div class="d-flex justify-content-end my-2">
            <a href="@Url.Action("Index", "Photo")" class="btn btn-danger"> Back to all Photos</a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card pizza-card">
                    <div class="card-image">
                        <img src="@Url.Content(Model.PhotoSrc)" class="card-img-top" alt="@Model.Title">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fs-1 text-center text-danger">@Model.Title</h5>
                        <p class="card-text text-center">Description: @Model.Description</p>
                        <p class="card-text text-center"><small class="text-muted">Price: € @Model.IsVisible</small></p>

                    </div>
                    <div style="display: flex; flex-wrap: wrap; gap: 5px;">
                        @foreach (var category in Model.Categories)
                        {
                            <div style="background-color: #AAAAAA; display: flex; justify-content: center; align-items: center;
                            border-radius: 3px; border-style: solid; border-color: #AAAAAA; padding: 2px;">
                                @category.Name
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

