@model Photo

<div class="show-pizza-wrapper h-auto">
    <div class="container pizza-card-container">
        <div class="d-flex justify-content-end my-2">
            <a href="@Url.Action("Index", "Photo")" class="btn btn-primary"> Back to all Photos</a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card pizza-card">
                    <div class="card-image">
                        <img src="@Url.Content(Model.PhotoSrc)" class="card-img-top" alt="@Model.Title">
                    </div>
                    <h5 class="card-title fs-1 text-center text-primary">@Model.Title</h5>
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <p class="card-text fs-4">Description: @Model.Description</p>
                            <p class="card-text">
                                <span>
                                    Categories:
                                    @foreach (var category in Model.Categories)
                                    {
                                        <span class="text-primary">@category.Name</span>
                                    }
                                </span>
                            </p>
                        </div>
                        <div>
                            <small>
                                Visibility:
                                @if (Model.IsVisible)
                                {
                                    <span>Visible</span>
                                }
                                else
                                {
                                    <span>Not Visible</span>
                                }
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


